* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}

body {
    background-color: hsl(212, 45%, 89%);
}

.container {
    background-color: hsl(0, 0%, 100%);
    margin: 10% auto;
    width: 30vh;
    text-align: center;
    border-radius: 30px;
    box-sizing: border-box;
    height: 50%;
    box-shadow: 0 0 30px ;
    padding-bottom: 20px;
}

.container img {
    border-radius: 10px;
    width: 90%;
    margin: 5%;
}

.container p {
    font-size: 15px;
    color: hsl(220, 15%, 55%);
    font-weight: 400;
}

.container h2 {
    color: hsl(218, 44%, 22%);
    font-weight: 700;
}

.container h2, .container p {
    margin: 3%;
    max-height: 100%;
}

.attribution {
    font-size: 11px; 
    text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}